<nav class="main-breadcrumb">
    <a href="dashboard.html">Espace immo</a> 
    <span>Acheter appartement Neuf 148 247 €</span>
</nav>

<nav class="mtm" role="navigation">
    <ul class="breadcrumb">
        <li class="progress-100"><a href="project_1.html"><span class="state">1</span> Mes infos</a></li>
        <li class="active progress-25"><a href="project_2.html"><span class="state">2</span> Ma proposition</a></li>
        <li class=""><a href="project_3.html"><span class="state">3</span> Mes justificatifs</a></li>
        <li class=""><a href="project_4.html"><span class="state">4</span> Mon crédit</a></li>
    </ul>
</nav>
